body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Lilita One', cursive; */

}

.masthead {
    background-color: #cccccc;
    background-size: cover;
    height: 100px;
}

.masthead-post {
    background-color: #0d4fba;
    background-size: 100%;
    height: 300px;
}

.navbar-brand {
    font-family: 'Lilita One', cursive;

}

.container-post {
    /* background-color: #FBEEAC; */
    align-items: center;
    align-content: center;
    /* text-align: center; */
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
    /* padding-bottom: 5%; */
    width: 80%;
}

.card-div-pos {
    /* align-items: center;
    align-self: center; */
    background-color: #F5EFE7;
}

/* Making Top Card image responsive and with proper sizing */
.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}