{% include "header.html" %}


<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 style="color: white;">S & R Development Blog</h1>
                    <span class="subheading">A collection of random musings.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--  Main Content -->

<div class="container container-post">
    <div class="card-div-pos">
        <div class="card mb-3">
            <img class="card-img-top" src="./static/img/card-img-holder.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <a href="#">
                <h2 class="post-title">
                    Post Title
                </h2>
                <h3 class="post-subtitle">
                    Posrt sub title here we go
                </h3>
            </a>
        </div>
    </div> -->
</div>