{% include "header.html" %}

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 style="color: white;">S & R Development Blog</h1>
                    <span class="subheading" style="color: white;">A Technology Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--  Main Content -->

<div class="container container-post">
    <div>
        <div class="card mb-3 card-div-pos">
            <img class="card-img-top"
                src="https://www.reuters.com/resizer/5vkMsf96xC8LD6pqOpMwMkcq96k=/960x0/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/5R35K5J7YFJ3DDUQRVT67HNQO4.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="card-link">Delete</a>
                <a href="#" class="card-link">Edit</a>
            </div>
        </div>
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#"> Create New Post</a>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <a href="#">
                <h2 class="post-title">
                    Post Title
                </h2>
                <h3 class="post-subtitle">
                    Posrt sub title here we go
                </h3>
            </a>
        </div>
    </div> -->
</div>