{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


<!-- Post pic and heder -->
<!-- <header class="masthead-post" style="background-image: url('{{post.img_url}}');">

    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1 style="color: navy;">{{ post.title }}</h1>
                        <span class="subheading" style="color: white;">A Technology Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> -->

<!-- testing card as post page -->
<div class="post-card-container">
    <div class="card mb-3 post-card">
        <img class="card-img-top" style="height: 300px" src={{post.img_url}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{post.body | safe}}</p>
            <p class="card-text"><small class="text-muted">{{ post.p_date }}</small></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-8 col-mx-10 mx-auto comment">
        {% for comment in comments %}
        <ul class="commentList">
            
            <li>
                <div class="commenterImage">
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
                </div>
                <div class="commentText">
                    <p>{{ comment.text | safe}}</p>
                    <span class="date sub-text">{{ comment.comment_author.name }}</span>

                </div>
            </li>
            
        </ul>
        {% endfor %}

    </div>
    {% if logged_in: %}
    <div>
        {{ ckeditor.load()}}
        {{ ckeditor.config(name=comment)}}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit":"primary"}) }}
    </div>
    {% endif %}
</div>
{% include "footer.html" %}